.Skills-container {
  background-color: rgb(163, 196, 243);
}

.skills >.rows> span {
  margin: 2px 5px;
  -webkit-user-select: none;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3px 9px;
  border: 1px solid white;
  border-radius: 4rem;
  color: #fdfdfd;
  text-align: center;
  display: inline-block;
}
.image {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  width: 40vmin;
  position: absolute;
  transform: translate(-50%, -50%);
}

.image[data-status="inactive"] {
  display: none;
}

.image[data-status="active"] {
  display: block;
}
.blur {
  filter: blur(10px);
  z-index: 0;
}
.content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
